[submodule ".vim/bundle/vim-rooter"]
	path = .vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule ".vim/vendor/vim-pathogen"]
	path = .vim/vendor/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-yankring"]
	path = .vim/bundle/vim-yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
  url = git://git.wincent.com/command-t.git
[submodule ".emacs.d/vendor/yasnippet-ruby-mode"]
  path = .emacs.d/vendor/yasnippet-ruby-mode
  url = git://github.com/bmaland/yasnippet-ruby-mode.git
[submodule ".emacs.d/vendor/textmate.el"]
  path = .emacs.d/vendor/textmate.el
  url = git://github.com/defunkt/textmate.el.git
[submodule ".emacs.d/vendor/full-ack"]
  path = .emacs.d/vendor/full-ack
  url = https://github.com/nschum/full-ack.git
[submodule ".emacs.d/vendor/zenburn"]
  path = .emacs.d/vendor/zenburn
  url = https://github.com/bbatsov/zenburn-emacs.git
[submodule ".emacs.d/vendor/magit"]
  path = .emacs.d/vendor/magit
  url = https://github.com/philjackson/magit.git
[submodule ".emacs.d/vendor/coffee-mode"]
  path = .emacs.d/vendor/coffee-mode
  url = git://github.com/defunkt/coffee-mode.git
