[submodule "vendor/yasnippet-ruby-mode"]
	path = vendor/yasnippet-ruby-mode
	url = git://github.com/bmaland/yasnippet-ruby-mode.git
[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/full-ack"]
	path = vendor/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "vendor/zenburn"]
	path = vendor/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/philjackson/magit.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
